@model List<Product>

<div class="row">
    <div class="col-12">
        <!-- Bootstrap Dark Table -->
        <div class="card">
            <div class="d-flex justify-content-between align-items-xl-center">
                <h5 class="card-header">Products</h5>

                <div style="margin-right:5px">
                    <a  asp-action="Create" class="btn btn-primary text-white">Create</a>
                </div>
            </div>

            <div class="table-responsive text-nowrap">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Category</th>
                            <th>Status</th>
                           


                            <th style="text-align:right">Action</th>

                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        @foreach (Product item in Model)
                        {
                                <tr>
                                    <td><img style="width:200px; height:100px; object-fit:cover" src="~/img/@item.Image"/></td>
                                    <td>@item.Name</td>
                                    <td>@item.Price</td>
                                    <td>@item.Category.Name</td>
                                     <td>
                                    @if (item.IsDeactive)
                                    {
                                        <div class="text-danger">Passiv</div>
                                    }
                                    else
                                    {
                                        <div class="text-success">Activ</div>
                                    }
                                </td>



                                    <td>
                                        <div class="d-flex justify-content-end">
                                            <div style="margin-right:5px">
                                                <a  asp-action="Update" asp-route-id="@item.Id" class="btn btn-info">Update</a>
                                            </div>
                                            <div style="margin-right:5px">
                                                <a   asp-action="Detail" asp-route-id="@item.Id" class="btn btn-success">Detail</a>
                                            </div>

                                        @if (item.IsDeactive)
                                        {

                                            <div style="margin-right:5px">
                                                <a asp-action="Activity" asp-route-id="@item.Id" class="btn btn-success">Activate</a>
                                            </div>
                                        }
                                        else
                                        {

                                            <div style="margin-right:5px">
                                                <a  asp-action="Activity" asp-route-id="@item.Id" class="btn btn-danger">Deactivate</a>
                                            </div>
                                        }

                                        </div>
                                    </td>
                                </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
        <!--/ Bootstrap Dark Table -->


    </div>
</div>




